<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.tryagain.mapper.CommentMapper">
    <select id="getcomment" resultType="com.example.tryagain.dto.CommentDetail">
        SELECT * FROM comment WHERE nid = #{nid}
    </select>

    <insert id="addcomment" >
        insert into comment (nid,username,time, content) values (#{id},#{username},#{time},#{comment})
    </insert>

</mapper>