<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.tryagain.mapper.UserMapper">
    <select id="findpwdbyname" resultType="com.example.tryagain.pojo.User">
        SELECT * FROM tb_user WHERE username = #{username}
    </select>

    <update id="changepwd" >
        UPDATE tb_user SET password = #{password} WHERE username = #{username}
    </update>

    <update id="changedetail">
        UPDATE tb_user SET name = #{name}, email =#{email}, telephone =#{telephone}, location = #{location},discription = #{discription} WHERE username = #{username}
    </update>

    <select id="getusers" resultType="com.example.tryagain.pojo.User">
        SELECT * FROM tb_user WHERE department = #{department}
    </select>

    <delete id="deleteuser">
        DELETE FROM tb_user WHERE username = #{username}
    </delete>

    <select id="getallusers" resultType="com.example.tryagain.pojo.User">
        SELECT * FROM tb_user
    </select>

    <insert id="adduser">
        INSERT INTO tb_user VALUES (#{username},#{username},#{role},#{department},#{email},#{telephone},#{location},#{discription},#{name})
    </insert>
</mapper>